em {
    font-variant: small-caps;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}
em.doan1 {
    color: red;
}
em.doan2 {
    color: blue;
}
em.doan3 {
    color: green;
}
h2 {
    color: white;
    text-shadow: 0 0 5px red;
}
strong {
    color: brown;
}
body {
    text-align: center;
}